@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Playfair+Display:wght@600&display=swap'); */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF9F5;
  color: #3E2E26;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body {
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}
